.content {
  background: #daf0ff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  background: #17181a;
  padding: 32px;
  border-radius: 32px;
}

.calculatorHeader {
  padding-block: 32px;
  text-align: right;
  height: 146px;
}

.equation {
  color: #818181;
  font-size: 24px;
}

.solution {
  color: #fff;
  font-size: 48px;
}